:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
  padding: 1.2rem;
}

h1 {
  text-decoration: underline;
  font-size: 1.5rem;
  line-height: 1.1;
}

p {
  font-size: 0.9rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 3.5rem 4rem;
  padding: 0.9rem;
  background-color: #535bf2;
  border-radius: 0.8rem;
  border-left: 2px solid white;
}

.infoContainer {
  width: auto;
  margin: 3.5rem 4rem;
  padding: 0.9rem;
  background-color: #535bf2;
  border-radius: 0.8rem;
  border-left: 2px solid white;
}

.level, .digits, .radioButton {
  margin: 0.7rem;
}

.parentDrop {
  padding: 0.2rem;
  border-radius: 0.3rem;
  background-color: #242424;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "inter", sans-serif;
}

/* .Drop {
  background-color: #242424;
  padding: 0.2rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
} */

.btn, .btn-static{
  background-color: transparent;
  margin: auto;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  border: 1px solid white;
  border-radius: 0.9rem;
  width: 4rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.10);
    border: 1px solid #a9adff;
  }
}

.mainContainer {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 3.5rem 4rem;
  width: auto;
  background-color:#f5f5f5;
  border-radius: 2rem;
}

.mathProblemDisplay {
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  margin: 0.5rem;
  color: rgb(29, 27, 27);
}

.userAnswer {
  display: flex;
  justify-self: center;
  border-radius:1.5rem;
  padding: 0.4rem;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: 1px solid rgb(29, 27, 27);
  background-color: transparent;
  width: auto;
  margin: 0.5rem;
  color: rgb(29, 27, 27);
}   

.staticButtons {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.15);
    cursor: pointer;
  }
}

.messg {
  color: red;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}