html {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: left;
  color: rgb(255, 255, 255);
  margin: 6px;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.scale{
  background-color: black;
  padding: 8px;
  margin-right: 12px;
  border-radius: 15px;
  font-weight: 200;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.15);
  }
}

hr {
  width: 50%;
  display: inline-block;
  border: 0.1px solid black;
}

#container {
margin: 30px 0px;
display: inline-block;
padding: 20px 0px 20px 20px ;
width: auto;
border-radius: 25px;
box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 10px;
}

#habitText {
border: transparent;
border-radius: 25px;
padding: 10px;
color: white;
font-size: 1rem;
font-weight: 600;
width: 70%;
background-color: transparent;
box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 10px;
}

#habitText::placeholder{
color: rgba(255, 255, 255, 0.445);
font-size: 0.9rem;
font-weight: 600;
}

input:focus {
  outline: none;
}

label {
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
}

input[type="date"] {
  background-color: transparent;
  border: transparent;
  border-radius: 25px;
  padding: 8px;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 10px;
}

.addBtn {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 10px;
  border: transparent;
  border-radius: 25px;
  padding: 7px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  width: 20%;
  transition: all 0.2s ease-in-out;
  margin-top: 25px;
  &:hover {
    transform: scale(1.1);
  }
}

.btnContainer {
  /* display: flex; */
  margin-bottom: 15px;
  width: auto;
}

table{
  padding: 5px;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 10px;
}

th{
  border-bottom: 1px solid white;
  padding: 30px;
  border-radius: 10px;
}

td{
  padding: 15px;
  text-align: center;
}

.read{
  font-size: 1.5rem;
  align-items: center;
  margin: 5vh;
  text-align: center;
}

.toast {
  padding: 5px;
  margin: 15px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.toast .ok{
  /* position: fixed; */
  background-color: #012113;
  border: 1px solid #00a463;
  border-radius: 8px;
  /* padding: 12px; */
  /* margin: 12px; */
  color: #00a463;
  width: 30%;
  /* margin: auto; */
  transition: all 0.3s ease-in-out;
}

.toast .danger {
    background-color: #200d16;
    border: 1px solid #954f62;
    border-radius: 8px;
    /* padding: 12px;
    margin: 12px; */
    color: #d32050;
    transition: all 0.5s ease-in-out;
    width: 30%;
    /* margin: auto; */
    /* position: fixed; */
    /* } */
  }
  
  .toast .neutral {
    background-color: #ffc400;
    border: 1px solid #b39e27;
    border-radius: 8px;
    /* padding: 12px;
    margin: 12px; */
    color: #1d1d1d;
    transition: all 0.5s ease-in-out;
    width: 30%;
}

.checkBox {
  display: flex;
  justify-content: center;
}

  .rmBtn {
  border: none;
  border-radius: 9px;
  color: white;
  padding: 0.5em;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  /* box-shadow: rgba(43, 43, 43, 0.884) 0px 10px 10px; */
  box-shadow: rgba(0, 0, 0, 0.705) 3px 3px 8px;
  &:hover{
    transform: scale(1.12);
  }
}

.date{
  display: table-cell;
  text-align: center;
}